<?xml version='1.0'?>
<model>
  <name>cyton_gamma_300</name>
  <version>0.1.0</version>
  <sdf version='1.6'>./urdf/cyton_gamma_300_gazebo.urdf</sdf>
  <author>
    <name>Konstantin Selyunin</name>
    <email>selyunin.k.v@gmail.com</email>
  </author>
  <description>
	  Updated version of the Cyton Gamma 300 urdf (including gazebo support)
  </description>
</model>
